@import url(./__container/comments__container.css);
@import url(./__item/comments__item.css);
@import url(./__img/comments__img.css);
@import url(./__quote/comments__quote.css);
@import url(./__author/comments__author.css);

.comments {
    max-width: 1184px;
    margin: 102px auto 0;
    color: white;

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .comments {
         max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .comments {
         max-width: 663px;
    }
}



@media screen and (min-width: 375px) and (max-width: 767px) {
    .comments {
         max-width: 343px;
    }
}



@media screen and (min-width:320px) and (max-width: 374px) {
    .comments {
         max-width: 288px;
         margin: 64px auto 0;
    }
}

