.video__item-text {
    max-width: 322px;
    height: calc(100% - 30px);
    margin: 30px auto 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

@media screen and (max-width: 1023px) {
    .video__item-text {
        margin: 17px auto auto 30px;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .video__item-text {
        margin: 16px;
    }
}