.place__paragraph {
    max-width: 484px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 0px auto 32px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
       max-width: 456px;
    }
 }

 @media screen and (min-width: 768px) and (max-width:1023px) {
    .place__paragraph {
         width: 352px;
         font-size: 16px;
         line-height: 27px;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .place__paragraph {
        max-width: 288px;
        font-size: 16px;
        line-height: 27px;
        margin: 24px 16px 0;        
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .place__paragraph {
        max-width: 343px;
        font-size: 16px;
        line-height: 27px;
        margin: 24px 16px 0;   
    }
}

