.video__icon-play {
    width: 41px;
    height: 41px;
    position: relative;
    z-index: 2;
    
}

/*@media screen and (max-width: 768px) {
    .video__icon-play {
        margin: 24px 0 0 17px;
    }
}