.footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

@media screen and (max-width: 375px) {
    .footer__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 16px;
    }
}
